<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>photos</key>
	<array>
		<dict>
			<key>filename</key>
			<string>01-mallorca.jpg</string>
			<key>height</key>
			<real>480</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>02-fishing.jpg</string>
			<key>height</key>
			<real>480</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>03-chili.jpg</string>
			<key>height</key>
			<real>480</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>04-rice.jpg</string>
			<key>height</key>
			<real>480</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>05-sweden.jpg</string>
			<key>height</key>
			<real>308</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>06-magicforest.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>07-bird.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>08-iguana.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>09-valley.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>10-parrots.jpg</string>
			<key>height</key>
			<real>360</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>11-lapaz.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>12-villarrica.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>13-lakevolcano.jpg</string>
			<key>height</key>
			<real>411</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>14-denseforest.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>15-glacier1.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>16-glacier2.jpg</string>
			<key>height</key>
			<real>360</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>17-torresdelpaine1.jpg</string>
			<key>height</key>
			<real>360</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>18-torresdelpaine2.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>19-cat.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>20-berlinskyline.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>21-potsdamerplatz.jpg</string>
			<key>height</key>
			<real>400</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>22-milchbar.jpg</string>
			<key>height</key>
			<real>436</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>23-berlinlights.jpg</string>
			<key>height</key>
			<real>512</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>24-tvtower.jpg</string>
			<key>height</key>
			<real>320</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>25-winter.jpg</string>
			<key>height</key>
			<real>360</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>26-tree.jpg</string>
			<key>height</key>
			<real>478</real>
			<key>width</key>
			<real>640</real>
		</dict>
		<dict>
			<key>filename</key>
			<string>27-beach.jpg</string>
			<key>height</key>
			<real>426</real>
			<key>width</key>
			<real>640</real>
		</dict>
	</array>
</dict>
</plist>
